{% extends 'main_nav.html' %} {% load static %} {% block title %} Home {% endblock %} {%block content %}

<section class="home" id="home">
    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="label" for="formGroupExampleInput" style="color: black;">City</label> {{ form.city }}
                </div>
                <div class="form-group">
                    <label class="label" for="formGroupExampleInput2" style="color: black;">Date</label> {{ form.date }}
                </div>
                <div>
                    <button type="submit" class="btn btn-success" style="margin: 47px 0px;
            padding: 10px 30px;float: right;">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="desc">
        <h1 class="text">Your Go-To Platform For checking weather conditions across the globe.</h1>
        <br>
        <p style="text-shadow: 1px 2px black;color: white;">Get quickly updated with current and future whether forecasts.</p>
    </div>
</section>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <p class="col-md-4 mb-0 text-muted">&copy; 2021 Travel-Buddy, Inc</p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="{% static 'images/logo.jpg' %}" alt="cloud" style="width: 83px;position: relative;left: 75px;">
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About Us</a></li>
        </ul>
    </footer>
</div>
{% endblock %}