{% extends 'main_nav.html' %} {% load static %} {% block title %} New Meds {% endblock %} {% block content %}

<section class="profile-2">
    <div class="card-2">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1" style="color: black;padding: 5px 0px;">Medicine Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="pill_name" aria-describedby="emailHelp" placeholder="Eg.Crocin" style="padding: 5px 0px;" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="dob" style="color: black;padding: 5px 0px;">Time</label>
                    <input id="datefield" name="pill_time" type='time' style="display: block;width: 100%;padding: 5px 0px;" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="dosage" style="color: black;">Dosage</label>
                    <input type="number" id="dosage" name="dosage" placeholder="No. of pills" style="display: block;width: 100%;" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="frequency" style="color: black;padding: 5px 0px;">Frequency</label>
                    <select id="frequency" title="frequency" name="pill_frequency" style="display: block; width: 100%;padding: 5px 0px;" required>
                        <option value="Daily">Daily</option>
                        <option value="Once in Two Days">Once in 2 Days</option>
                        <option value="Weekly">Weekly</option>
                    </select>
                </div>
                <button type="submit" name="submit" class="btn btn-primary" style="margin-top:30px;">Add Another</button>
                <a class="btn btn-primary" style="padding: 5px 30px;float: right;margin: 32px 0px;" href="{% url 'mymeds' %}">Go to Medication</a>
            </form>
            <div class="desc-2">
                <h1 class="text" style="color: #ffbc00;">Enter your details about your medication</h1>
                <br>
                <p style="text-shadow: 2px 2px black;">You will be Notified via Email about your Medication</p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <div class="col-md-4 d-flex align-items-center">
            <img src="{% static 'images/logo.jpg' %}" alt="cloud" style="width: 58px;position: relative;left: -20px;">
            <span class="text-muted" style="position: relative;left: -10px;">&copy; 2021 Travel-Buddy, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><i class="fa fa-twitter" aria-hidden="true" style="font-size: 25px;"></i></svg>
                </a>
            </li>
            <li class="ms-3"><i class="fa fa-instagram" aria-hidden="true" style="font-size: 25px;"></i></li>
            <li class="ms-3"><i class="fa fa-facebook" aria-hidden="true" style="font-size: 25px;"></i></li>
        </ul>
    </footer>
</div>

{% endblock %}