{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css/sawo_style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        body,
        /* html {
            height: 100%;
            margin: 0;
        } */
        
        .bg-index {
            background-image: url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80%22");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <title> Login </title>
</head>

<body>
    <!-- <div class="bg-index">
        <div class="container d-flex justify-content-center align-middle">
            <div class="row">
                <div class="col-12 p-4 h2 text-center text-Success">
                    <h1 class="fs-1 fw-bold font-monoscape text-primary">SAWO API</h1>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    {% include 'partials/_sawo.html' %}
                </div>
            </div>
        </div>
    </div> -->
    <div class="bg-index">
        <div class="card-2">
            {% include 'partials/_sawo.html' %}
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>